body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
} 
.blogHero {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.blogHero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/blog.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
} 
.musicHero {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.musicHero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/music.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
.contactHero {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.contactHero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/contact.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: -1;
} 

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myHeading {
  color: #000000;
  text-shadow: 2px 4px 3px #ffffff;
  font-size: 50px;
  font-weight: 600;
}
.myHeading:hover {
  color: #e6e6e6;
  text-shadow: 5px 10px 7px #9900cc;
}